<section>
<h1>LET'S PLAY PAPER, SCISSORS, STONE!</h1>
<form action="/new-game" method="GET">
<button class="click">CLICK HERE TO PLAY</button>
</form>
</section>

<!-- <a href="/new-game">New Game</a> -->