<h1>Are you ready to play <%= @player%>?</h1>
<h2>Paper, Scissors, Stone: Make your choice...</h2>

<form action="/play" method="POST">
	<button class="paper" name="pick" value="Paper">Paper</button>
	<button class="scissors" name="pick" value="Scissors">Scissors</button>
	<button class="stone" name="pick" value="Stone">Stone</button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>
	